**/package-lock.json
**/dist/**
**/out/**
**/typeshed-fallback/**
docstubs

*.json
**/.github/ISSUE_TEMPLATE/**

# ignore markdown files that we haven't really touched to avoid unnecessary upstream conflicts
docs/configuration/*.md
docs/development/internals.md
docs/getting_started/**/*.md

**/.venv/**
.pyprojectx